{% extends "base.html" %}

{% block title %}
    Order Complete
{% endblock %}

{% block content %}
    <h1 class="title">
        Order Complete
    </h1>
    <br>
    <div class="container">
    {% for product, quantity in order_products.items %}
        <p class="subtitle">
            Quantity: {{ quantity }}<br>
            Name: {{ product.name }}<br>
            Description: {{ product.description }}<br>
            Price: {{ product.price }}<br>
            Category: {{ product.category.name }}<br>
            <img src="{{ product.picture.url }}"><br>
        </p>
    {% endfor %}
    </div>
{% endblock %}
