{% extends "base.html" %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <h1 class="title">
        Products
    </h1>
    <br>
    <div class="container">
    {% for product in products %}
        <p class="subtitle">
            <a href="/product/{{ product.id }}">{{ product.name }}</a><br>
            Description: {{ product.description }}<br>
            Category: {{ product.category.name }}<br>
            Price: {{ product.price }}<br><br>
            <a href="/addbasket/{{ product.id }}" class="button">ADD TO BASKET</a><br><br>
            <img src="{{ product.picture.url }}"><br>
        </p>
    {% endfor %}
    </div>
{% endblock %}