{% extends "base.html" %}

{% block title %}
    Shopping Basket
{% endblock %}

{% block content %}
    <h1 class="title">
        Shopping Basket
    </h1>
    <br>
    <div class="container">
        {% if empty %}
            <p class="subtitle">
                Your shopping basket is empty.
            </p>
        {% else %}
            <div class="container">
                <a href="/checkout" class="button">CHECKOUT</a>
            </div>
            <br>
            <p class="subtitle">
                {% for product, quantity in sb_products.items %}
                Quantity: {{ quantity }}<br>
                Name: {{ product.name }}<br>
                Description: {{ product.description }}<br>
                Category: {{ product.category.name }}<br>
                Price: {{ product.price }}<br><br>
                <img src="{{ product.picture.url }}"><br>
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endblock %}