<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!-- ---------- -->
    <!-- HTML stuff -->
    <!-- ---------- -->

    <section id="title-section" class="section">
      <div id="title-container" class="container">
        <h1 class="title"><%= title %></h1>
        <p class="subtitle">Welcome!</p>
      </div>
    </section>

    <section id="product-section" class="section">
      <div id="product-container" class="container">
        <table id="product-table">
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Image</td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>

    <section id="login-section" class="section">
      <div id="login-container" class="container">
        <form id="login-form" method="POST", action=".">
          <label for="username">Username</label>
          <input id="form-username" name="username" type="text" placeholder="Your Username" required>
          <label for="password">Password</label>
          <input id="form-password" name="password" type="password" placeholder="Your Password" required>
          <input type="submit" value="Login">
        </form>
      </div>
    </section>

    <section id="shopping-basket-section" class="section">
      <div id="shopping-basket-container" class="container">
        <button id="show-basket-button">Show basket</button>
        <table id="shopping-basket-table">
          <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Quanity</td>
            <td>Total</td>
          </tr>
        </table>
      </div>

      <div id="checkout-container" class="container">
        <form id="checkout-form" method="POST", action=".">
          <label for="shipping_addr">Shipping Address</label>
          <input type="text" name="shipping_addr" maxlength="500" placeholder="Shipping Address" id="shipping_addr" required>
          <label for="payment_details">Payment Details</label>
          <input type="text" name="payment_details" maxlength="16" placeholder="Payment Details" id="payment_details" required>
          <button id="checkout-button" type="submit">Checkout</button>
        </form>
      </div>
    </section>


    <!-- -------- -->
    <!-- JS stuff -->
    <!-- -------- -->

    <script>
      // product table
      fetch("http://localhost:8000/api/products/?format=json")
      .then(response => response.json())
      .then(data => {
        console.log(data)
        data.forEach(element => {
          let table = document.getElementById("product-table")
          let newRow = document.createElement("tr")
          table.appendChild(newRow)

          let name = document.createElement("td")
          name.innerHTML = element['name']
          newRow.appendChild(name)

          let description = document.createElement("td")
          description.innerHTML = element['description']
          newRow.appendChild(description)

          let price = document.createElement("td")
          price.innerHTML = element['price']
          newRow.appendChild(price)

          let picturetd = document.createElement("td")
          let picture = document.createElement("img")
          picture.src = element['picture']
          newRow.appendChild(picturetd)
          picturetd.appendChild(picture)

          let buttonContainer = document.createElement("td")
          let button = document.createElement("button")
          button.innerHTML = "Add to basket"
          button.addEventListener('click', function() {
            addToBasket(element['id'])
          })
          buttonContainer.appendChild(button)
          newRow.appendChild(buttonContainer)
        })
      })

      // event listener for login form
      let loginform = document.getElementById("login-form")
      loginform.addEventListener("submit", (event) => {
        event.preventDefault()
        let user = document.getElementById("form-username").value
        let pass = document.getElementById("form-password").value
        fetch("http://localhost:8000/token/", {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({username:user, password:pass})
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          window.token = data['token']
        })
      }, true)

      // function to add product to basket via rest api
      function addToBasket(productId) {
        if (window.token) {
          fetch(`http://localhost:8000/addbasket/${productId}?format=json`, {
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': `Token ${window.token}`
            }
          })
          .then(response => response.json())
          .then(data => console.log(data))
        }
        else {
          alert("Please log in to continue")
        }
      }

      // function to show basket via rest api
      function showBasket() {
        if (window.token) {
          fetch("http://localhost:8000/basket/?format=json", {
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': `Token ${window.token}`
            }
          })
          .then(response => response.json())
          .then(data => {
            console.log(data)
            data['items'].forEach(element => {
              let table = document.getElementById("shopping-basket-table")
              let newRow = document.createElement("tr")
              table.appendChild(newRow)

              let name = document.createElement("td")
              name.innerHTML = element['product']
              newRow.appendChild(name)

              let price = document.createElement("td")
              price.innerHTML = element['price']
              newRow.appendChild(price)

              let quantity = document.createElement("td")
              quantity.innerHTML = element['quantity']
              newRow.appendChild(quantity)

              let total = document.createElement("td")
              total.innerHTML = element['quantity'] * element['price']
              newRow.appendChild(total)
            })
          })
        }
        else {
          alert("Please log in to continue")
        }
      }

      // event listener for showBasket
      let showBasketButton = document.getElementById("show-basket-button")
      showBasketButton.addEventListener("click", (event) => {
        event.preventDefault()
        showBasket()
      })

      // event listener for checkout form
      let checkoutButton = document.getElementById("checkout-button")
      checkoutButton.addEventListener("click", (event) => {
        event.preventDefault()
        let form = document.getElementById("checkout-form")
        form.reportValidity()
        if (!form.checkValidity()) {
          return false
        }
        if (window.token) {
          let shippingAddress = document.getElementById("shipping_addr").value
          let paymentDetails = document.getElementById("payment_details").value
          fetch("http://localhost:8000/checkout/?format=json", {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': `Token ${window.token}`
            },
            body: JSON.stringify({shipping_addr:shippingAddress, payment_details:paymentDetails})
          })
          .then(response => response.json())
          .then(data => {
            console.log(data)
          })
        }
        else {
          alert("Please log in to continue")
        }
      }, true)

    </script>
  </body>
</html>
